body {
    background-color: #282828;
    color: white;
}

.cabecalho {
    height: 80px;
    background-color: #0b0b0b;
    display: flex;
    /*Vai definir a direção do cabeçalho para horizontal*/
    justify-content: space-between;
    /*Vai dar um espaço entre as logos e os botões de home...*/
    align-items: center;
    padding: 0 80 0 80px;
    /*O primeiro número é de cima, o 2ª da direita, o 3ª de baixo e o 4ª da esquerda, se tiver 2, o 1ª é cima e baixo, e o 2ª é direita e esquerda.*/
    border-bottom: 1px solid #282828;
    /*Vai colocar uma margem fina cinza embaixo do cabeçalho.*/
}

.cabecalho .logo {
    display: flex;
    /*Muda a posição da linha para vertical e a posição das logos*/
    gap: 0,9375rem;
    /*Vai espaçar as logos da linha*/
    margin-left: 5rem;
}

.cabecalho .menu {
    display: flex;
    /*Vai mudar a organização dos links para a horizontal*/
    gap: 30px;
}

.cabecalho .menu li a {
    padding: 30px;
    color: #e8e8e8;
    font-weight: bolder;
    /*Vai deixar a fonte em negrito*/
    font-size: 15px;
    font-family: 'Chalet';
}

/*O hover vai executar uma ação quando vc passar o mouse sobre o objeto*/
.cabecalho .menu li a:hover {
    border-bottom: 2px solid #fff;
}

.home {
    background-color: aqua;
    display: flex;
    position: relative;
    /**/
    min-height: calc(100vh - 80px);
}

/*Criar um elemento html dentro do css*/
.home::after {
    content: '';
    position: absolute;
    /*Vai colocar na camada de cima*/
    height: 100%;
    /*Vai ficar no mesmo tamanho do elemento pai que é o cabecalho*/
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 35%, transparent 65%);
}

.home .imagem-fundo {
    width: 100%;
    object-fit: cover;
    /*Faz com que a imagem se ajuste para não perca a proporção*/
}

.home .informacoes {
    position: absolute;
    z-index: 1;
    /*Coloca em cima de todas as camadas*/
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*Vai centralizar os elementos no eixo y graças ao flex-direction:columm que transforma em eixo y*/
    gap: 32px;
    padding: 80px 80px 80px 170px;
    max-width: 780px;
}

.home .informacoes img {
    max-width: 150px;
}

.home .informacoes .lista-de-jogos {
    display: flex;
    gap: 32px;
}

.home .informacoes .titulo {
    font-family: 'ChaletComprime';
    font-size: 55px;
}

.home .informacoes .texto {
    font-family: 'Chalet';
    font-size: 18px;
    line-height: 1.6;
    /*Espaçamento das linhas*/
}

/*Quando coloca uma vírgula e coloca outra classe estiliza as 2*/
.btn-comprar,
.btn-plataforma {
    background-color: rgba(255, 255, 255, .1);
    /*O Rgba serve para dar a cor e a transparência*/
    border: 0.5px solid #fff;
    border-radius: 4px;
    font-family: 'ChaletComprime';
    font-size: 28px;
    text-align: center;
    padding: 20px 40px;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
    /*Deixa mais suave a transição de cor quando passa o mouse em cima*/
}

.btn-plataforma {
    color: white;
    width: 100%;
    cursor: pointer;
    /*Vai colocar o cursor como apontando*/
}

/*Vai fazer que quando vc passe o mouse em cima mude de cor*/
.btn-comprar:hover {
    background-color: white;
    color: black;
}

.compre-ja .capa-do-jogo {
    width: 270px;
}

.compre-ja {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    align-items: center;
}

.compre-ja .titulo {
    font-family: 'ChaletComprime';
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

.compre-ja .cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 50%;
    border-radius: 10px;
    padding: 80px;
    gap: 40px;
}

.compre-ja .informacoes {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.compre-ja .informacoes h3 {
    font-family: 'ChaletComprime';
    font-size: 52px;
    font-weight: 700;
}

.compre-ja .informacoes p {
    color: #e8e8e8;
    font-family: 'Chalet';
    font-size: 16px;
    line-height: 1.6;
}

.compre-ja .informacoes .plataformas {
    display: flex;
    flex-wrap: wrap;
    /*Ele faz que quando não tem espaço quebra para baixo os itens*/
    gap: 32px;
    justify-content: center;/*ALinha os conteudos de acordo com o tamanho da tela*/
}

.compre-ja .btn-plataforma .plataformas{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3s ease-in;
    display: none;
    opacity: 0;

}

.compre-ja .btn-plataforma .plataformas.ativo{
    display: flex;
    opacity: 1;
}

.compre-ja .btn-plataforma .plataformas li{
    padding: 20px;
}

/*O li:nth-child(1) serve para modificar o 1ª item da lista*/
.compre-ja .btn-plataforma .plataformas li:nth-child(1){
    border: 1px solid #00436c;
}
.compre-ja .btn-plataforma .plataformas li:nth-child(2){
    border: 1px solid #00436c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(3){
    border: 1px solid #387a26;
}
.compre-ja .btn-plataforma .plataformas li:nth-child(4){
    border: 1px solid #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(5){
    border: 1px solid #fcaf17;
}

